<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-Hans" }}">
  <head>
    <meta charset="UTF-8">
<title>冰点™资源分享所有分群列表</title>
{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">冰点™资源分享所有分群列表</h1>
      <h2 class="project-tagline">我的资源群-冰点™资源交流</h2>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
        
        <center><span>&copy; 2022 ZGQ Inc. <a>All rights reserved</a>.</span></center>
      </footer>
    </main>
  </body>
</html>